<div style="background: #FFFFFF; position: relative">
  <mat-button-toggle-group class="custom-menu" value="bold" name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold" routerLink="/registre">Сделки</mat-button-toggle>
    <mat-button-toggle value="italic">Справочные данные</mat-button-toggle>
    <mat-button-toggle value="underline" routerLink="/administration">Администрирование</mat-button-toggle>
  </mat-button-toggle-group>
  <div class="tab_wrapper">
      <div>
        иконка
      </div>
      <div>
        Росатом
      </div>
      <div style="display: grid;
                  width: 100%;
                  justify-items: end;
                  margin-right: 24px;
                  font-size: 15px;">
        <div style="font-size: 15px">{{user.firstName}} {{user.secondName}} {{user.middleName}}</div>
        <div style="font-size: 15px">{{user.email}}, {{user.phone}}</div>
      </div>
      <button mat-button>
        <span class="material-icons"
              placeholder="Личный кабинет">
          account_circle
        </span>
      </button>
      <div>
        <span style="transform: rotate(90deg)" placeholder="Выход"
              class="material-icons">
          horizontal_rule
        </span>
      </div>
      <button mat-button>
        <span placeholder="Выход"
              class="material-icons"
              (click)="logout()">
          elderly
        </span>
      </button>
  </div>
</div>
