<div class="tab_wrapper">
  <div class="menu_tab">
    <button mat-button>Главная</button>
    <button mat-button>раздел 1</button>
    <button mat-button>Справочные данные</button>
    <button mat-button>Администрирование</button>

    <!--<mat-menu #reference yPosition="above">-->
      <!--<button mat-menu-item>Раздел 1</button>-->
      <!--<button mat-menu-item>Раздел 2</button>-->
    <!--</mat-menu>-->
  </div>

  <div class="setting">
    <button mat-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>



</div>
