.tab_wrapper{
    display: table;
    padding: 15px;
    flex-direction: column;
    position: inherit;
    z-index: 1;
}

.tab_wrapper div{
    display: table-cell;
}
.menu_tab{
    width: 99%;
}
.setting{

}
