.tab{
    width: 100%;
    height: 8%;
    min-height: 8%;
    background-color: #5883b9ad;
}
.content{
    width: 100%;
    height: 89%;
    padding: 10px 0;
    background: linear-gradient(-45deg, #0068FF,#73C8FF);
}
