<main class="main_container">
  <ng-container *ngIf="auth.isLogin">
    <div class="tab">
      <app-tab-bar></app-tab-bar>
    </div>
  </ng-container>
  <div class="content">
    <div class="menu_tab" style="position: relative">
<!--      <button style="font-size: 15px !important;" mat-button routerLink="/registre">Сделки</button>-->
<!--      <button style="font-size: 15px !important;" mat-button>раздел 1</button>-->
<!--      <button style="font-size: 15px !important;" mat-button>Справочные данные</button>-->
<!--      <button style="font-size: 15px !important;" mat-button>Администрирование</button>-->
    </div>
    <router-outlet></router-outlet>
  </div>
</main>
