.header-table {
  thead {
    tr{
      td{
        text-align: center;
      }
    }
  }
}
.input-register-table {
  ::ng-deep .mat-form-field-underline {
   bottom: -1px !important
  }
  ::ng-deep .mat-form-field-wrapper{
    padding: 0;
  }
  ::ng-deep .mat-form-field-infix{
    padding: 0;
    margin: 0;
    border: 0;
  }
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.properties-datapicker{
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 !important;
    ::ng-deep .mat-form-field-flex{
          padding: 0 !important;
          align-items: center !important;
      ::ng-deep .mat-form-field-infix {
        input{
          color: maroon;
        }
            padding: 0 !important;
            font-size: 13px !important;
            border-top: 0 !important;
          }
      ::ng-deep .mat-form-field-suffix {
            font-size: 13px !important;
        button{
          color: #399DD8;
        }
          }
      }
    ::ng-deep .mat-form-field-underline {
          display: none !important;
        }
    ::ng-deep .mat-form-field-subscript-wrapper{
          display: none !important;
        }
  }
}

.property-tabs {
  ::ng-deep .mat-tab-label-content {
    color: navy;
  }
}

::ng-deep .mat-select-value span {
  color: maroon;
}
::ng-deep .mat-select-value-text span {
  font-size: 13px;
}

.ninja-button{
  display: none;
}

.hover-row:hover{
  .ninja-button{
    position: absolute;
    border-radius: 40px;
    border-color: blueviolet;
    outline: none;
    height: 24px;
    width: 24px;
    margin: 9px;
    justify-content: center;
    align-items: center;
    bottom: 0;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    background-color: #80459a;
    display: flex;
  }
  box-shadow: 0 0 53.75px 15.25px rgba(0, 1, 0, 0.25) inset;
}
