<div style="padding-top: 32px;">
  <div style="background: #004087;
              height: 66px;
              align-items: center;
              display: grid;
              grid-template-columns: 1fr 1fr 140px;
              font-size: 25px;
              color: #FFFFFF;">
    <div style="margin-left: 22px;"> Информация о финансовой деятельности</div>
    <button style="justify-self: end;
                   margin-right: 10px;
                   background: #00990B;
                   border-radius: 20px;
                   border-color: #00990B;
                   outline: azure;
                   color: #FFFFFF;
                   font-size: 16px;
                   padding: 8px;"
            (click)="saveData()">
      Сохранить
    </button>
    <button style="justify-self: end;
                   margin-right: 10px;
                   background: #399DD8;
                   border-radius: 20px;
                   border-color: #399DD8;
                   outline: azure;
                   color: #FFFFFF;
                   font-size: 16px;
                   padding: 8px;"
            (click)="addRow()">
      Новая сделка
    </button>
  </div>

  <div style="width: 100%;
              height: 100%;
              position: relative;
              overflow: auto;">

    <div style="position: absolute;
                right: 0;
                z-index: 10;
                top: 7px;">
      <button mat-button
              class="prime"
              (click)="startInputChange()">
        Импорт Excel
      </button>
      <input id="upload_file"
             style="display:none"
             (change)="importXlsx($event)"
             type="file"/>
    </div>
    <mat-tab-group class="property-tabs">
    <mat-tab label="Контрагенты / остатки на счетах">
      <table  class="header-table"
              cellspacing="0"
              style="width: 100%; font-size: 13px; overflow: hidden;">
      <thead style="color: aliceblue;">
      <tr style="color: #4F4F4F; background: #F6F6F6">
        <td rowspan="3">№</td>
      </tr>
      <tr>
        <td rowspan="2" style="background: #7FAABF; color: #FFFFFF;">ID</td>
        <td rowspan="2" style="background: #7FAABF; color: #FFFFFF;">ИНН</td>
        <td rowspan="2" style="background: #7FAABF; color: #FFFFFF;">КПП</td>
        <td style=" background: #AB7FBF;" rowspan="2">Наименование организации</td>
        <td style=" background: #AB7FBF;" rowspan="2">ГО/ФЛ</td>
        <td style=" background: #AB7FBF;" rowspan="2">БИК банка</td>
        <td style=" background: #AB7FBF;" rowspan="2">Наименование банка</td>
        <td style=" background: #AB7FBF;" rowspan="2">Комментарий</td>
        <td style=" background: #80459a;">Валюта</td>
        <td style=" background: #80459a;">сумма в валюте счета</td>
      </tr>
      <tr>
        <td style=" background: #AB7FBF;">международный  код</td>
        <td style=" background: #AB7FBF;">Остаток на счете</td>
      </tr>
      </thead>
        <tbody>
          <ng-container *ngFor="let data of dataRegistry; let i = index">
            <tr class="hover-row">
              <td style="text-align: center;
              position: relative;
               width: 3em;
                color: #000000;
                 background: #F6F6F6">
                {{i + 1}}
                <button (click)="deleteRow(data.id)" class="ninja-button">Х</button>
              </td>
              <td style="width: 6em;background: #7FAABF; opacity: 0.3; color: #000000;">
                <input class="input-register-table"
                       matInput
                       placeholder="ID"
                       [(ngModel)]="data.id_bank_account">
              </td>
              <td style="width: 6em;background: #7FAABF; opacity: 0.3; color: #000000;">
                <input class="input-register-table"
                       matInput
                       placeholder="ИНН"
                       [(ngModel)]="data.inn">
              </td>
              <td style="width: 6em;background: #7FAABF;opacity: 0.3; color: #000000;">
                <input class="input-register-table"
                       matInput
                       placeholder="КПП"
                       [(ngModel)]="data.kpp">
              </td>
              <td style="width: 15em; color: #000000">
                <input class="input-register-table"
                       matInput
                       placeholder="Наименование организации"
                       [(ngModel)]="data.name">
              </td>
              <td style="width: 4em;">
                <mat-select [(value)]="data.is_filial">
                  <mat-option *ngFor="let goFl of goFl" [value]="goFl.viewValue">
                    {{goFl.viewValue}}
                  </mat-option>
                </mat-select>
              </td>
              <td style="width: 6em;">
                <input class="input-register-table"
                       matInput
                       placeholder="БИК банка"
                       [(ngModel)]="data.bic_of_bank">
              </td>
              <td style="width: 15em;">
                <input class="input-register-table"
                       matInput
                       placeholder="Наименование банка"
                       [(ngModel)]="data.name_of_bank">
              </td>
              <td style="width: 7em;">
                <mat-form-field class="input-register-table">
                  <textarea [(ngModel)]="data.comment" matInput>{{data.comment}}</textarea>
                </mat-form-field>
              </td>
              <td style="width: 3em;">
                <mat-select [(value)]="data.currency">
                  <mat-option *ngFor="let food of foods" [value]="food.viewValue">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </td>
              <td style="width: 10em;">
                <input class="input-register-table"
                       matInput
                       placeholder="Остаток на счете"
                       [(ngModel)]="data.balance">
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </mat-tab>

    <mat-tab label="Размещенные и привлеченные средства">
      <table  class="header-table"
              cellspacing="0"
              style="width: 100%; color: aliceblue; font-size: 13px; overflow: hidden;">
        <thead>
        <tr style="color: #4F4F4F; background: #F6F6F6">
          <td rowspan="3">№</td>
        </tr>
        <tr>
          <td rowspan="3" style="background: #7FAABF; color: #FFFFFF;">ID</td>
          <td rowspan="3" style="background: #7FAABF; color: #FFFFFF;">ИНН</td>
          <td rowspan="3" style="background: #7FAABF; color: #FFFFFF;">КПП</td>
          <td style="background: #399DD8;" rowspan="2">ВИД договора</td>
          <td style="background: #399DD8;" rowspan="3">Дата заключения договора</td>
          <td style="background: #399DD8;" rowspan="3">Дата начала действия договора</td>
          <td style="background: #399DD8;" rowspan="3">Дата окончания договора</td>
          <td style="background: #399DD8;" rowspan="3">Расчетная ставка годовых, %</td>
          <td style="background: #276184;">Валюта</td>
          <td style="background: #399DD8;" rowspan="3">Сумма</td>
        </tr>
        <tr>
          <td style="background: #399DD8;">международный код</td>
        </tr>
        </thead>
        <tbody style="color: maroon;">
          <ng-container *ngFor="let data of dataRegistry; let i = index">
            <tr class="hover-row">
              <td style="width: 3em; position: relative; text-align: center; color: #000000; background: #F6F6F6">
              {{i + 1}}
                <button (click)="deleteRow(data.id)" class="ninja-button">Х</button>
              </td>
              <td style="width: 6em;background: #7FAABF; opacity: 0.3; color: #000000;">
                <input class="input-register-table"
                       matInput
                       placeholder="ID"
                       [(ngModel)]="data.id_bank_account">
              </td>
              <td style="width: 6em;background: #7FAABF; opacity: 0.3; color: #000000;">
                <input class="input-register-table"
                       matInput
                       placeholder="ИНН"
                       [(ngModel)]="data.inn">
              </td>
              <td style="width: 6em;background: #7FAABF;opacity: 0.3; color: #000000;">
                <input class="input-register-table"
                       matInput
                       placeholder="КПП"
                       [(ngModel)]="data.kpp">
              </td>
              <td style="width: 8em;">
                <mat-select [(value)]="data.type_of_contract">
                  <mat-option *ngFor="let contract of typeContract" [value]="contract.viewValue">
                    {{contract.viewValue}}
                  </mat-option>
                </mat-select>
              </td>
              <td style="width: 6em;">
                <mat-form-field class="properties-datapicker" appearance="fill">
                  <!-- #docregion toggle -->
                  <input matInput [matDatepicker]="dateConclusion" [(ngModel)]="data.date_of_signing" [value]="data.date_of_signing">
                  <mat-datepicker-toggle matSuffix [for]="dateConclusion"></mat-datepicker-toggle>
                  <mat-datepicker #dateConclusion></mat-datepicker>
                  <!-- #enddocregion toggle -->
                </mat-form-field>
              </td>
              <td style="width: 6em;">
                <mat-form-field class="properties-datapicker" appearance="fill">
                  <!-- #docregion toggle -->
                  <input matInput [matDatepicker]="dateStartContract" [(ngModel)]="data.date_of_signing" [value]="data.date_start">
                  <mat-datepicker-toggle matSuffix [for]="dateStartContract"></mat-datepicker-toggle>
                  <mat-datepicker #dateStartContract></mat-datepicker>
                  <!-- #enddocregion toggle -->
                </mat-form-field>
              </td>
              <td style="width: 6em;">
                <mat-form-field class="properties-datapicker" appearance="fill">
                  <!-- #docregion toggle -->
                  <input matInput [matDatepicker]="dateEndContract" [(ngModel)]="data.date_of_signing" [value]="data.date_end">
                  <mat-datepicker-toggle matSuffix [for]="dateEndContract"></mat-datepicker-toggle>
                  <mat-datepicker #dateEndContract></mat-datepicker>
                  <!-- #enddocregion toggle -->
                </mat-form-field>
              </td>
              <td style="width: 6em;">
                <input class="input-register-table"
                       matInput
                       placeholder="Расчетная ставка годовых, %"
                       [(ngModel)]="data.interest_rate">
              </td>
              <td style="width: 3em;">
                <mat-select [(value)]="data.AccountBalanceCurrency">
                  <mat-option *ngFor="let food of foods" [value]="food.viewValue">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </td>
              <td>
                <input class="input-register-table"
                       matInput
                       placeholder="Сумма"
                       [(ngModel)]="data.balance">
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </mat-tab>
  </mat-tab-group>

  </div>
</div>
