<div>
  <div>
    <button mat-button class="prime" (click)="startInputChange()">Импорт Excel</button>
    <input id="upload_file"
           style="display:none"
           (change)="importXlsx($event)"
           type="file"/>
  </div>
  <div style="width: 100%;
    height: 100%;
    overflow: auto;">
    <mat-tab-group class="property-tabs">
    <mat-tab label="Контрагенты / остатки на счетах">
      <table  class="header-table"
              border="1"
              cellspacing="0"
              style="width: 100%; font-size: 13px;">
      <thead style="color: aliceblue; background: linear-gradient(-45deg,#FF00AD,#590052)">
      <tr>
        <td rowspan="3">№</td>
      </tr>
      <tr>
        <td rowspan="2">ID</td>
        <td rowspan="2">ИНН</td>
        <td rowspan="2">КПП</td>
        <td rowspan="2">Наименование организации</td>
        <td rowspan="2">ГО/ФЛ</td>
        <td rowspan="2">БИК банка</td>
        <td rowspan="2">Наименование банка</td>
        <td rowspan="2">Комментарий</td>
        <td>Валюта</td>
        <td>сумма в валюте счета</td>
      </tr>
      <tr>
        <td>международный  код</td>
        <td>Остаток на счете</td>
      </tr>
      </thead>
        <tbody style="color: maroon">
          <ng-container *ngFor="let data of dataRegistry; let i = index">
            <tr>
              <td style="width: 2em">
                {{i + 1}}
              </td>
              <td style="width: 6em;">
                <input class="input-register-table"
                       matInput
                       placeholder="ID"
                       value="{{data.id_bank_account}}">
              </td>
              <td style="width: 6em;">
                <input class="input-register-table"
                       matInput
                       placeholder="ИНН"
                       value="{{data.inn}}">
              </td>
              <td style="width: 6em;">
                <input class="input-register-table"
                       matInput
                       placeholder="КПП"
                       value="{{data.kpp}}">
              </td>
              <td style="width: 15em;">
                <input class="input-register-table"
                       matInput
                       placeholder="Наименование организации"
                       value="{{data.name}}">
              </td>
              <td style="width: 4em;">
                <mat-select [(value)]="data.is_filial">
                  <mat-option *ngFor="let goFl of goFl" [value]="goFl.viewValue">
                    {{goFl.viewValue}}
                  </mat-option>
                </mat-select>
              </td>
              <td style="width: 15em;">
                <input class="input-register-table"
                       matInput
                       placeholder="БИК банка"
                       value="{{data.bic_of_bank}}">
              </td>
              <td style="width: 15em;">
                <input class="input-register-table"
                       matInput
                       placeholder="Наименование банка"
                       value="{{data.name_of_bank}}">
              </td>
              <td style="width: 10em;">
                  <textarea class="input-register-table"
                            matInput>
                    {{data.comment}}
                  </textarea>
              </td>
              <td style="width: 5em;">
                <mat-select [(value)]="data.currency">
                  <mat-option *ngFor="let food of foods" [value]="food.viewValue">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </td>
              <td style="width: 10em;">
                <input class="input-register-table"
                       matInput
                       placeholder="Остаток на счете"
                       value="{{data.balance}}">
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </mat-tab>

    <mat-tab label="Размещенные и привлеченные средства">
      <table  class="header-table"
              border="1"
              cellspacing="0"
              style="width: 100%; color: aliceblue; font-size: 13px;">
        <thead style="background: linear-gradient(-45deg,#FF00AD,#590052)">
        <tr>
          <td rowspan="3">№</td>
        </tr>
        <tr>
          <td rowspan="1">ВИД договора</td>
          <td rowspan="3">Дата заключения договора</td>
          <td rowspan="3">Дата начала действия договора</td>
          <td rowspan="3">Дата окончания договора</td>
          <td rowspan="3">Расчетная ставка годовых, %</td>
          <td>Валюта</td>
          <td rowspan="3">Сумма</td>
        </tr>
        <tr>
          <td></td>
          <td>международный код</td>
        </tr>
        </thead>
        <tbody style="color: maroon;">
          <ng-container *ngFor="let data of dataRegistry; let i = index">
            <tr>
              <td>
                {{i}}
              </td>
              <td style="width: 10em;">
                <mat-select [(value)]="data.type_of_contract">
                  <mat-option *ngFor="let contract of typeContract" [value]="contract.viewValue">
                    {{contract.viewValue}}
                  </mat-option>
                </mat-select>
              </td>
              <td style="width: 10em;">
                <mat-form-field class="properties-datapicker" appearance="fill">
                  <!-- #docregion toggle -->
                  <input matInput [matDatepicker]="dateConclusion"  [value]="data.date_of_signing">
                  <mat-datepicker-toggle matSuffix [for]="dateConclusion"></mat-datepicker-toggle>
                  <mat-datepicker #dateConclusion></mat-datepicker>
                  <!-- #enddocregion toggle -->
                </mat-form-field>
              </td>
              <td style="width: 10em;">
                <mat-form-field class="properties-datapicker" appearance="fill">
                  <!-- #docregion toggle -->
                  <input matInput [matDatepicker]="dateStartContract" [value]="data.date_start">
                  <mat-datepicker-toggle matSuffix [for]="dateStartContract"></mat-datepicker-toggle>
                  <mat-datepicker #dateStartContract></mat-datepicker>
                  <!-- #enddocregion toggle -->
                </mat-form-field>
              </td>
              <td style="width: 10em;">
                <mat-form-field class="properties-datapicker" appearance="fill">
                  <!-- #docregion toggle -->
                  <input matInput [matDatepicker]="dateEndContract" [value]="data.date_end">
                  <mat-datepicker-toggle matSuffix [for]="dateEndContract"></mat-datepicker-toggle>
                  <mat-datepicker #dateEndContract></mat-datepicker>
                  <!-- #enddocregion toggle -->
                </mat-form-field>
              </td>
              <td style="width: 15em;">
                <input class="input-register-table"
                       matInput
                       placeholder="Расчетная ставка годовых, %"
                       value="{{data.interest_rate}}">
              </td>
              <td style="width: 5em;">
                <mat-select [value]="data.AccountBalanceCurrency">
                  <mat-option *ngFor="let food of foods" [value]="food.viewValue">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </td>
              <td>
                <input class="input-register-table"
                       matInput
                       placeholder="Сумма"
                       value="{{data.balance}}">
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </mat-tab>
  </mat-tab-group>
  </div>
</div>
