<div class="main_container form-group">
  <div class="login_form">
    <form [formGroup]="loginData" (ngSubmit)="login()">
      <div class="head_label">Вход</div>

      <div>
        <div>Электронная почта</div>
        <input type="email"
               class="form-control"
               autofocus
               placeholder="Email"
               formControlName="email"
               required/>
      </div>

      <div>
        <div>Пароль</div>
        <input type="password"
               class="form-control"
               placeholder="Password"
               formControlName="password"
               required/>
      </div>

      <button mat-button
              class="button_accept"
              type="submit"
              label="Вход"
              [disabled]="!loginData.valid || loadData">

      </button>
    </form>
  </div>
</div>
